.char {
    &__basics {
        display: grid;
        grid-template-columns: 150px auto;
        column-gap: 25px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
}