.char {
    &__basics {
        display: grid;
        grid-template-columns: 150px auto;
        column-gap: 25px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }

    &__info {
        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
        }
    }

    &__btns {
        margin-top: 35px;

        a:nth-child(2) {
            margin-top: 10px;
        }
    }
}