.char {
    &__info {
        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
        }
    }

    &__btns {
        margin-top: 35px;

        a:nth-child(2) {
            margin-top: 10px;
        }
    }
}